.visualizers {
  height: 100%;
  width: 100%;

  canvas {
    background-color: black;
  }

  .canvas-container {
    canvas, .data {
      width: 98%;
      height: 98%;

      display: block;
    }
  }

  .data {
    .choose, .player {
      width: 100%;
      height: 50%;
    }

    .choose {
      button {
        width: 100%;
        height: 90%;
        margin-top: 1%;

        border-radius: 20px;

        color: white;
        background-color: black;
        font-size: 30px;

        cursor: pointer;
        outline: none;
      }
    }

    .player {
      audio {
        display: block;
        width: 100%;
        margin-top: 23px;
      }
    }
  }

  .top {
    height: 33.33%;

    display: flex;

    .canvas-container {
      width: 33.33%;
      height: 100%;
    }
  }

  .bottom {
    height: 66.66%;

    display: flex;
  }

  .left-bottom {
    height: 100%;
    width: 33.33%;

    .canvas-container {
      width: 100%;
      height: 50%;
    }
  }

  .right-bottom {
    height: 100%;
    width: 66.66%;

    .canvas-container {
      width: 100%;
      height: 100%;

      canvas {
        width: 99%;
        height: 99%;
      }
    }
  }
}
