@import "nav-bar";
@import "visualizers";

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    list-style: none;
}

body {
    min-width: 1200px;
    min-height: 800px;
}

main {
    width: 1100px;
    height: 600px;
    margin: 20px auto auto;
}
